.btn{
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-cursor: hand;
	-fx-padding: 5px 15px 5px 15px;
}

.btn:hover{
	-fx-opacity: 0.8;
}

.btn-cancel{
	-fx-border-color:  #EC0000;
}

.btn-confirm{
	-fx-background-color:  #5cb85c;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.blank-input{
	-fx-border-style: none;
	-fx-background-color: #fff;
	-fx-background-radius: 5px;
	-fx-padding: 10px 15px;
}

/* set default fill of svg path */
.grayIcon .button-icon{
    -fx-fill: #888888;
}
.redIcon .button-icon{
    -fx-fill: #D00000;
}
/* modify svg path fill for hovered/pressed button */
.grayIcon:pressed .button-icon,
.grayIcon:hover .button-icon {
    -fx-fill: #444444;
}
.redIcon:pressed .button-icon,
.redIcon:hover .button-icon {
    -fx-fill: #9d0208;
}

.icon-button:hover{
	-fx-cursor: hand;	
}

/* set default fill of svg path */
.icon-button:focused {
    -fx-background-radius: 0;
}

/* remove default button style & set size */
.icon-button {
    -fx-background-color: transparent, transparent, transparent, transparent, transparent;
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-min-height: 30;
    -fx-min-width: 30;
    -fx-max-height: 30;
    -fx-max-width: 30;
}